<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<title><%=locals.title || "u77总有好游戏"%></title>
	<meta name="keywords" content="<%=locals.keywords || "u77总有好游戏"%>">
	<meta name="description" content="<%=locals.description || "U77帮你找到从未玩过的好游戏，推荐制作精良、游戏性高的在线游戏，让你轻松抓到具有独到内涵和可玩度的产品。推荐的各类游戏是经过网站编辑试玩精选而产生的。"%>">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<% if(process.env.DEBUG != ""){ %>
	<meta http-equiv="pragma" content="no-cache">  
	<meta http-equiv="cache-control" content="no-cache"> 
	<% } %>
	<link rel="stylesheet" type="text/css" href="<%=path()+'css/style.min.css'%>">	
</head>
<body>
<div id="u77-loading">
	<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
</div>
<header id="u77-header">
	
</header>
<input id="u77-unionid" type="hidden" name="unionId" value="<%=unionId%>">
<input id="u77-state" type="hidden" name="state" value="<%=state%>">
<script type="text/javascript">window.path="http://u77wx.leanapp.cn/";</script>