<%- include('../base/header.html') %>
<div id="u77-seven-mark" data-unionid="<%=unionId%>">
	<!-- <%- dump(locals)%> -->
	<div class="head-img">
		<img src="http://file.u77.com/weixin/bjbj.jpg" width="100%">
	</div>
	<div class="mark">
		<div class="title">
			<img src="http://file.u77.com/weixin/title-01.png" width="70%">
		</div>
		<div class="seven">
			<div class="point point-1" data-day="1"><i class="circle"></i></div>
			<div class="point point-2" data-day="2"><i class="circle"></i></div>
			<div class="point point-3" data-day="3"><i class="circle"></i></div>
			<div class="point point-4" data-day="4"><i class="circle"></i></div>
			<div class="point point-5" data-day="5"><i class="circle"></i></div>
			<div class="point point-6" data-day="6"><i class="circle"></i></div>
			<div class="point point-7" data-day="7"><i class="circle"></i></div>
		</div>
		<img class="present" src="http://file.u77.com/weixin/libao-00.png" width="100%">
	</div>
	<div class="bottom-img">
		<img src="http://file.u77.com/weixin/guize.png" width="100%">
	</div>
</div>
<div id="u77-seven-dialog">
	<div class="cover"></div>
	<div class="wrap">
		<img class="bg" src="http://file.u77.com/weixin/tk.png" width="100%">
	</div>
</div>
<%- include('../base/footer.html',{jsName:'seven-mark'}) %>