<%- include('../base/header.html') %>
<div id="u77-seven-mark" onclick="base.user.hideMenu()">
	<!-- <%- dump(locals)%> -->
	<div class="head-img">
		<img src="http://file.u77.com/weixin/bjbj.jpg" width="100%">
	</div>
	<div class="mark">
		<div class="title">
			<img src="http://file.u77.com/weixin/title-01.png" width="70%">
		</div>
		<div class="seven">
			<div class="point point-1" onclick="base.seven.showMark(1)"><i class="circle"></i></div>
			<div class="point point-2" onclick="base.seven.showMark(2)"><i class="circle"></i></div>
			<div class="point point-3" onclick="base.seven.showMark(3)"><i class="circle"></i></div>
			<div class="point point-4" onclick="base.seven.showMark(4)"><i class="circle"></i></div>
			<div class="point point-5" onclick="base.seven.showMark(5)"><i class="circle"></i></div>
			<div class="point point-6" onclick="base.seven.showMark(6)"><i class="circle"></i></div>
			<div class="point point-7" onclick="base.seven.showMark(7)"><i class="circle"></i></div>
		</div>
		<img class="present" src="http://file.u77.com/weixin/libao-00.png" width="100%">
	</div>
	<div class="bottom-img">
		<img src="http://file.u77.com/weixin/guize.png" width="100%">
	</div>
</div>

<%- include('../base/footer.html',{jsName:'seven-mark'}) %>